header {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 0;
    .logo {
    }
    nav {
      ul {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
